.books-page {
    background: #f7f7f7;
    font-family: "Microsoft YaHei";
    .table-header{
      padding: 0 25px 0 25px;
      .border{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed #ccc;
        padding: 15px 0;
      }
      .action-left{
        display: flex;
        line-height: 32px;
        .ac{
          margin-left: 10px;
          cursor: pointer;
          padding-right: 5px;
          .anticon{
            font-size: 15px;
          }
          &:hover{
            color: #803228;
          }
        }
      }
      .action-right{
        display: flex;
        line-height: 32px;
        .l-text{
          color: #000;
          b{
            padding: 0 2px;
            font-weight: normal;
            font-family: Arial;
          }
        }
        .sel-col{
          margin-left: 15px;
        }
      }
    }
    .books-items{
      padding: 0 25px 20px;
      .table-item{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed #ccc;
        .box, .action{
          font-size: 16px;
        }
        .row-con{
          text-align: left;
          flex: 1;
          padding: 0 20px;
          display: flex;
          overflow: hidden;
          .d1{
            width: 30px;
            font-size: 16px;
            color: #803228;
            font-weight: bold;
            font-family: Arial;
            padding-top: 3px;
          }
          .cover{
            width: 125px;
            cursor: pointer;
            img{
              width: 100%;
            }
          }
          .detail{
            flex: 1;
            padding-left: 15px;
            .title{
              color: #803228;
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 20px;
              cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }
            p{
              margin-bottom: 10px;
            }
            .book-icons{
              display: flex;
              .pdf{
                margin-right: 20px;
                line-height: 22px;
                cursor: pointer;
                color: #cc2525;
                label{
                  cursor: pointer;
                }
                .anticon{
                  margin-right: 5px;
                }
                &:hover{
                  text-decoration: underline;
                }
              }
              .link{
                margin-right: 20px;
                line-height: 22px;
                cursor: pointer;
                color: #2a83d3;
                label{
                  cursor: pointer;
                }
                .anticon{
                  margin-right: 5px;
                }
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .action{
          cursor: pointer;
          &:hover{
            color: #803228;
          }
          &.follow{
            color: #803228;
          }
        }

      }
    }
  }
  