.paper-page {
  background: #f7f7f7;
  font-family: "Microsoft YaHei";
  .paper-content {
    width: 1200px;
    margin: 0 auto;
    .page-breadcrumb {
      padding: 15px 0 30px 0;
      a:hover {
        color: #803228;
      }
    }
    .first-title {
      text-align: center;
      font-size: 22px;
      padding: 0 100px;
      margin: 20px 0 20px 0;
    }
    .first-title-1 {
      text-align: center;
      font-size: 18px;
      padding: 0 100px;
      margin: 0 0 40px 0;
    }
    .top-actions {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 10px;
      .action {
        margin: 0 10px;
        cursor: pointer;
        &:hover,
        &.collect {
          color: #803228;
        }
        .anticon {
          margin-right: 5px;
        }
      }
    }
    .all-detail-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      .c-content-left {
        width: 820px;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        .detail-row {
          display: flex;
          dt {
            width: 120px;
            text-align: right;
            padding-right: 10px;
          }
          dd {
            text-align: justify;
          }
        }
      }
      .c-content-right {
        width: 360px;
        .c-p-con {
          background: #fff;
          border-radius: 5px;
          padding: 20px;
          .paper-item{
            padding: 10px 0;
            cursor: pointer;
            .row-detail{
              display: none;
            }
            &.active{
              border-bottom: 1px #ddd dashed;
              .row-title{
                display: none;
              }
              .row-detail{
                display: flex;
                .cover{
                  width: 110px;
                  img{
                    width: 100%;
                  }
                }
                .p-detail{
                  padding-left: 15px;
                  flex: 1;
                  overflow: hidden;
                  p{
                    margin-bottom: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .child-plan {
    margin-bottom: 50px;
    .child-title {
      display: flex;
      border-bottom: 2px #803228 solid;
      label {
        height: 30px;
        line-height: 30px;
        background-color: #803228;
        padding: 0 0 0 10px;
        color: #fff;
        font-size: 16px;
        border-radius: 5px 0 0 0;
        position: relative;
        &::after {
          content: " ";
          position: absolute;
          width: 30px;
          height: 30px;
          background: url("../../style/img/title-bg.png") no-repeat center center;
          right: -30px;
          top: 0;
        }
      }
    }
    .plan-relevant{
      padding-top: 20px;
      .link-rel{
        display: block;
        margin-bottom: 10px;
        color: #333;
        &:hover{
          text-decoration: underline;
          color: #803228;
        }
      }
    }
  }
}
