.login-content {
  height: 700px;
  position: relative;
  width: 1680px;
  margin: 0 auto;
  padding: 100px 0;

  &::after {
    content: " ";
    width: 600px;
    height: 270px;
    position: absolute;
    top: 0;
    background: url("../../style/img/bg-up.jpg") no-repeat center 0;
  }

  &::before {
    content: " ";
    width: 600px;
    height: 270px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../../style/img/bg-down.jpg") no-repeat center 0;
  }

  .login-form {
    width: 440px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 40px;

    h1 {
      color: #1a1a1a;
      font-size: 28px;
      text-align: center;
      line-height: 90px;
      margin: 0;
    }

    .form-row {
      margin-bottom: 30px;
      position: relative;

      .icon {
        position: absolute;
        width: 60px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        font-size: 20px;
        color: #a6a6a6;
      }

      input {
        height: 44px;
        width: 100%;
        border: 1px #d9d9d9 solid;
        padding-left: 60px;
        border-radius: 5px;
      }
    }

    .ip-row {
      text-align: center;
      margin-bottom: 20px;

      .ip-action {
        cursor: pointer;
        font-size: 16px;
        color: #1a1a1a;

        &:hover {
          color: #803228;
        }
      }
    }

    .form-action {
      height: 49px;
      cursor: pointer;
      background: url("./img/btn.png") no-repeat center center;
    }

    .link-row {
      display: inline-block;
      width: 100%;

      .a1 {
        color: #a6a6a6;
        float: left;
        line-height: 40px;

        &:hover {
          color: #803228;
        }
      }

      .a2 {
        color: #a6a6a6;
        float: right;
        line-height: 40px;

        &:hover {
          color: #803228;
        }
      }
    }

    h3 {
      text-align: center;
      font-size: 16px;
      color: #1a1a1a;
      margin: 0;
      line-height: 30px;
    }

    .other-login {
      text-align: center;

      .weixin {
        width: 55px;
        height: 55px;
        cursor: pointer;
        margin: 10px 50px;
        display: inline-block;
        background: url("./img/weixin.png") no-repeat center center;

        &:hover {
          background: url("./img/weixin-at.png") no-repeat center center;
        }
      }

      .weibo {
        width: 55px;
        height: 55px;
        cursor: pointer;
        margin: 10px 50px;
        display: inline-block;
        background: url("./img/weibo.png") no-repeat center center;

        &:hover {
          background: url("./img/weibo-at.png") no-repeat center center;
        }
      }
    }
  }
}