.search-page {
  background: #f7f7f7;
  .search-content {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    .menus {
      display: flex;
      justify-content: center;
      li {
        width: 180px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        font-size: 16px;
        font-family: "Microsoft YaHei";
        background: #fff;
        border-radius: 5px;
        margin: 0 15px;
        cursor: pointer;
        &:hover,
        &.active {
          background: #803228;
          color: #fff;
        }
      }
    }
  }
  .search-parent {
    width: 1200px;
    margin: 0 auto 0 auto;
    font-family: "Microsoft YaHei";
    .search-form {
      .search-row {
        display: flex;
        margin-bottom: 30px;
        .search-label {
          width: 350px;
          padding-right: 10px;
          text-align: right;
          line-height: 40px;
          .group-title {
            display: flex;
            padding-right: 10px;
            justify-content: space-between;

            .ant-select-selection--single {
              height: 40px;
              background: transparent;
              .ant-select-selection__rendered {
                line-height: 38px;
              }
            }
            .g-actions {
              width: 120px;
              display: flex;
              justify-content: space-between;
              .action-reduce {
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 5px;
                color: #fff;
                font-size: 30px;
                font-family: "黑体";
                background: #803228;
                cursor: pointer;
                &:hover {
                  background: #eab27f;
                }
              }
              .action-plus {
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 5px;
                color: #fff;
                font-size: 30px;
                font-family: "黑体";
                background: #803228;
                cursor: pointer;
                &:hover {
                  background: #eab27f;
                }
              }
            }
          }
        }
        .search-control {
          width: 400px;
          &.min {
            width: 200px;
          }
          &.max {
            width: 650px;
          }
          input {
            width: 100%;
            height: 40px;
            padding: 10px;
            line-height: 20px;
            border: 1px #cccccc solid;
            border-radius: 3px;
            background: transparent;
          }
        }
        .ant-calendar-picker {
          .ant-input {
            height: auto;
            padding: 0 0 0 10px;
            background: transparent;
            .ant-calendar-range-picker-separator {
              line-height: 38px;
            }
            input {
              width: auto;
              border: none;
              height: 40px !important;
            }
          }
          input {
            height: 40px !important;
          }
          .ant-calendar-range-picker-input {
            width: 149px !important;
            padding: 10px 20px 10px 0;
          }
        }
        .ant-select-selection--single {
          height: 40px;
          background: transparent;
          .ant-select-selection__rendered {
            line-height: 38px;
          }
        }
        .group-control {
          display: flex;
          width: 850px;
          justify-content: space-between;
          .col-1 {
            width: 320px;
          }
        }
        .small-search-row {
          display: flex;
          flex: 1;
          overflow: hidden;
          .search-label {
            width: 270px;
            display: flex;
            justify-content: flex-end;
          }
          .search-control {
            display: flex;
            .c-label {
              padding-right: 10px;
              text-align: right;
              line-height: 40px;
            }
            .c-control{
              flex: 1;
            }
          }
        }
      }
      .search-actions {
        text-align: center;
        margin: 70px 0;
        button {
          width: 200px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          font-size: 18px;
          background: #fff;
          border-radius: 5px;
          margin: 0 50px;
          cursor: pointer;
          border: none;
          &.b1 {
            background: #803228;
            color: #fff;
          }
          &.b2 {
            background: #cccccc;
            color: #fff;
          }
        }
      }
    }
  }
}
